@model LoginViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
@using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    if (!ViewData.ModelState.IsValid)
    {
        @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "<i class=\"fa fa-exclamation\"></i>", new { @class = "alert fade show m-b-10" }).ToHtmlString()))
    }
    <div class="form-group m-b-20">
        @Html.TextBoxFor(x => x.Account, new { @class = "form-control form-control-lg", required = "required", placeholder = "帳號" })
        @Html.ValidationMessageFor(x => x.Account, "", new { @class = "text-danger" })
    </div>
    <div class="form-group m-b-20">
        @Html.PasswordFor(x => x.Watchword, new { @class = "form-control form-control-lg", required = "required", placeholder = "密碼" })
        @Html.ValidationMessageFor(x => x.Watchword, "", new { @class = "text-danger" })
    </div>
    <div class="login-buttons">
        <button type="submit" class="btn btn-success btn-block btn-lg">登入</button>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>